@import "tailwindcss";

:root{
  --primary:#0B1B4D;
  --gold:#D4AF37;

  --yanira:#E6007E;
  --yanira-dark:#2A002A;

  --play:#FFD700;
  --play-green:#4CAF50;
}

html{
  scroll-behavior:smooth;
}

body{
  margin:0;
  padding:0;
  overflow-x:hidden;
}